body {
    min-width: 300px;
    min-height: 480px;
    margin: 10px 15px;
    background: radial-gradient(circle, rgb(131, 234, 248) 0%, rgba(185,217,255,1) 100%);
}

 

.title{
    margin-left: 70px;
    text-align: left;
}

#logo{
    /*
    width: 40px;
    height: 53px;
    position: relative;
    */
    width: 48px;
    height: 57px;
    position: absolute;
    top: 22px;
    left: 30px;

}

#titleText {
    margin: 25px;
    font-size: 50px;
    font-family: 'Gluten', cursive;
}

#settingsButton {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 20px;
    height: 20px;
    transition: transform .7s ease-in-out;
    cursor: pointer;
}

#settingsButton:hover {
    transform: rotate(360deg);
}

/*
#menuBar {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #9edbff 5%, #127ee3 100%);
	background-color:#8ad4ff;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
    margin: 5px;
	cursor:pointer;
	color:#113057;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
    white-space: nowrap;
}
.myButton:hover {
	background:linear-gradient(to bottom, #127ee3 5%, #8ad4ff 100%);
	background-color:#127ee3;
}
.myButton:active {
	position:relative;
	top:1px;
}
*/

.btn {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: -o-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: linear-gradient(to bottom, #ffffff, #dbdbdb);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    margin: 3px;
    font-family: Arial;
    color: #000000;
    font-size: 13px;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #dbdbdb;
    background-image: -webkit-linear-gradient(top, #dbdbdb, #ffffff);
    background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
    background-image: -ms-linear-gradient(top, #dbdbdb, #ffffff);
    background-image: -o-linear-gradient(top, #dbdbdb, #ffffff);
    background-image: linear-gradient(to bottom, #dbdbdb, #ffffff);
    text-decoration: none;
  }

#onofftext{
    font-family: 'Gluten';
    font-size: 20px;

}

#dashboard{
    margin-bottom: 30px;
}

.list-group-item{
    background-color:rgb(181, 246, 255);
    padding: none;
    font-size: 80%;
}

.list-group-item:hover{
    background-color:rgb(89, 203, 218);
}


#foodList {
    margin: 10px 0px;
    max-height: 200px;
    overflow-y: auto;
}

#foodText {
    margin-bottom: 15px;
}

.tab {
    margin-top: 10px;
}

.menuButton {
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 5px;
}

.list-group-item {
    padding: 4px 10px;
}

/*this is slider code*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(141, 140, 140);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #015ba5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .menubar{
        position: fixed;
        left: 1%;
        bottom: 10px;
        margin: 0 auto;
      
  }

  .menu {
    font-family: Alegreya Sans;
    background: #feeded;
    position: relative;
    background: #cd3e3d;
    width: 4em;
    height: 4em;
    border-radius: 5em;
    cursor: pointer;
    border: 1em solid #fdaead;
  }

  .menu ul {
    list-style: none;
    padding: 0;
  }
  .menu li {
    width: 5em;
    height: 1.5em;
    padding: 0.1em;
    margin-top: 0.1em;
    text-align: center;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 1s;
    background: #fdaead;
    opacity: 0;
    z-index: -1;
  }
  .menu:hover li {
    opacity: 1;
  }
  /**
   * Add a pseudo element to cover the space
   * between the links. This is so the menu
   * does not lose :hover focus and disappear
   */
  .menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: 20%;
    top: -5.0em;
    /**
     * The pseudo-element is a semi-circle
     * created with CSS. Top, bottom, and right
     * borders are 6.5em (left being 0), and then
     * a border-radius is added to the two corners
     * on the right.
     */
    border-width: 6.5em;
    border-radius: 0 7.5em 7.5em 0;
    border-left: 0;
    border-style: solid;
    /**
     * Have to have a border color for the border
     * to be hoverable. I'm using a very light one
     * so that it looks invisible.
     */
    border-color: rgba(0,0,0,0.01);
    /**
     * Put the psuedo-element behind the links
     * (So they can be clicked on)
     */
    z-index: -1;
    /**
     * Make the cursor default so it looks like
     * nothing is there
     */
    cursor: default;
  }
  .menu a {
    color: white;
    text-decoration: none;
    /**
     * This is to vertically center the text on the
     * little tab-like things that the text is on.
     */
    line-height: 1.5em;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .menu ul {
    transform: rotate(180deg) translateY(-2em);
    transition: 1s all;
  }
  .menu:hover ul {
    transform: rotate(0deg) translateY(-1em);
  }
  .menu li:hover {
    background: #cd3e3d;
    z-index: 10;
  }
  
  .menu li:nth-of-type(1) {
    transform: rotate(-90deg);
    position: absolute;
    left: -1.2em;
    top: -4.2em;
  }
  .menu li:nth-of-type(2) {
    transform: rotate(-45deg);
    position: absolute;
    left: 2em;
    top: -3em;
  }
  .menu li:nth-of-type(3) {
    position: absolute;
    left: 3.4em;
    top: 0.3em;
  }
  .menu li:nth-of-type(4) {
    transform: rotate(45deg);
    position: absolute;
    left: 2em;
    top: 3.7em;
  }
  .menu li:nth-of-type(5) {
    transform: rotate(90deg);
    position: absolute;
    left: -1.2em;
    top: 5em;
  }
  .hint {
    text-align: center;
  }